<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> header}}
  </head>
  <body>

    <main class="main home">
      <div class="container">
        <figure class="home-avatar">
          <img src="http://galeri3.uludagsozluk.com/181/kedi_260378.jpg">
          </figure>

        <h1 class="home-title">
          Hello there, my name is Sam Walton.
        </h1>

        <p class="home-introduction">
          I’m a <strong>Product Designer</strong> spending my time growing an amazing team.
          <br>
          Our aim is to shape the <strong>future of digital learning</strong> at <a href="http://www.codeatuni.com/">Code at Uni</a>.
        </p>
      </div>
    </main>

    {{> footer}}
  </body>
</html>